@import '../../variables.scss';

.current-weather {
  margin-top: 10px;
  background-color: $color-2;
  padding: 10px 0;
  max-width: 355px;

  @media (min-width: $phone) {
    border-radius: 20px;
    padding: 10px;
  }

  @media (min-width: $laptop) {
    width: 360px;
  }

  &__first-line {
    display: flex;
  }

  &__sub-info {
    display: flex;

    img {
      padding-right: 5px;
    }

    * {
      display: flex;
      align-items: center;
    }
  }

  &__main-info {
    display: flex;

    & > * {
      margin: 5px;
    }
  }

  &__temp {
    font-size: $font-size-temp;
    
    &::after {
      content: '°'
    }
  }

  &__feels_like {
    &::after {
      content: '°'
    }
  }

  &__description {
    margin-top: 5px;
    & > * {
      margin: 5px;
    }
  }

  &__sub-info {
    display: flex;
    justify-content: space-between;
    & > * {
      margin: 5px;
    }
  }
}