@import '../../variables.scss';

.additionally {
  margin-top: 15px;
  background-color: $color-2;
  width: 100%;
  padding: 10px 0;
  max-width: 375px;

  @media (min-width: $phone) {
    border-radius: 20px;
    padding: 10px;
  }

  @media (min-width: $laptop) {
    margin-top: 2px;
  }

  tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  td {
    display: flex;
    align-items: center;
    padding: 3px 0;

    img {
      margin-right: 10px;
    }
  }
}