@import './variables.scss';
@import './scaffolding.scss';

.weather-bloc {
  display: flex;
  flex-direction: column;

  @media (min-width: $laptop) {
    max-height: 800px;
    width: 785px;
    flex-wrap: wrap;
    align-items: center;
  }
}

footer {
  // border: solid 2px red;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

  a {
    text-decoration: none;
    color: $color-3;

    &:hover {
      color: $color-5;
    }
  }
}