// fonts
$main-font: "OpenSans", Arial, Helvetica, sans-serif;
$font-size-main: 12pt;
$font-size-temp: 34pt;
$font-size-time: 10pt;

// colors
$color-bg: white;
$color-1: rgb(210, 210, 0);
$color-2: rgb(246, 246, 255);
$color-3: rgb(112, 112, 255);
$color-4: red;
$color-5: rgb(184, 184, 40);

// viewport 

$phone: 322px;
$laptop: 900px;